<div class="container py-3">
  <div class="row">
    <div class="col-md-4 mb-3">
      <h1>🚀 Sign up</h1>
      <p>
        Streamline your online presence with our app, where you can conveniently
        manage and share all your social media profiles from one centralized
        platform.
      </p>
      <form [formGroup]="form">
        <label for="userName">User name:</label>
        <div
          [class.has-validation]="
            (userName.invalid && userName.dirty) ||
            error?.errorType == 'userName'
          "
          class="input-group has-validation mb-3"
        >
          <span class="input-group-text"
            ><span class="text-success">https:</span>//mipov.net/</span
          >
          <input
            [class.is-invalid]="
              (userName.invalid && userName.dirty) ||
              error?.errorType == 'userName'
            "
            class="form-control"
            id="userName"
            type="text"
            formControlName="userName"
            placeholder="Unique user name"
          />
          <!-- frontend validation -->
          <ng-container *ngIf="userName.errors">
            <div *ngIf="userName.errors['pattern']" class="invalid-feedback">
              Username can only contain letters and numbers, no spaces or
              special characters.
            </div>
          </ng-container>
          <!-- backend validation -->
          <div class="invalid-feedback" *ngIf="error?.errorType == 'userName'">
            {{ error.message }}
          </div>
        </div>
        <label for="name">First name:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">👤</span>
          <input
            class="form-control"
            id="name"
            type="text"
            formControlName="firstName"
          />
        </div>
        <label for="lastName">Last name:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">🎩</span>
          <input
            class="form-control"
            id="lastName"
            type="text"
            formControlName="lastName"
          />
        </div>
        <label for="email">Email:</label>
        <div
          [class.has-validation]="
            error ? (error.errorType == 'email' ? true : false) : false
          "
          class="input-group mb-3"
        >
          <span class="input-group-text">✉️</span>
          <input
            [class.is-invalid]="
              error ? (error.errorType == 'email' ? true : false) : false
            "
            class="form-control"
            id="email"
            type="type"
            formControlName="email"
          />
          <!-- backend validation -->
          <div class="invalid-feedback" *ngIf="error?.errorType == 'email'">
            {{ error.message }}
          </div>
        </div>
        <label for="password">Password</label>
        <div class="input-group mb-2">
          <span class="input-group-text">🔒</span>
          <input
            class="form-control"
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
        </div>
        <div class="form-check mb-3">
          <input
            (change)="showPassword = !showPassword"
            class="form-check-input"
            type="checkbox"
            value=""
            id="showNewPassword"
          />
          <label
            class="form-check-label text-primary user-select-none"
            for="showNewPassword"
            ><u>{{ !showPassword ? "Show" : "Hide" }} password</u></label
          >
        </div>
        <label for="about">About</label>
        <div class="input-group mb-3">
          <textarea
            class="form-control"
            id="about"
            formControlName="about"
          ></textarea>
        </div>
        <div class="mb-3">
          ⚠️ By <b>signing up</b> on this site, you agree to our
          <a routerLink="/privacy-policy">privacy policy.</a>
        </div>
        <button
          class="btn btn-success w-100"
          [disabled]="form.invalid"
          (click)="signUp()"
        >
          Sign up
        </button>
      </form>
    </div>
    <div class="col-md-8">
      <h2>Connect and Share Your Social Media Profiles with Ease</h2>
      <p>
        At Mipov.net, we make it simple for you to share all your social media
        profiles in one convenient place. Whether you're a content creator,
        influencer, or just someone who loves to connect with friends and
        followers, our platform is designed to help you manage and share your
        social media presence effortlessly.
      </p>
      <h2>Sign Up to Get Started</h2>
      <p>
        Create your free account today and start sharing your social media
        profiles in minutes. Simply fill in the form below:
      </p>
      <h3>Required Fields:</h3>
      <ul>
        <li>
          Username: Create a unique username that will be part of your public
          profile URL. (Must be unique)
        </li>
        <li>First Name: Enter your first name.</li>
        <li>Last Name: Enter your last name.</li>
        <li>
          Email: Enter a valid email address. This will be used for account
          verification and communication. (Must be unique)
        </li>
        <li>Password: Choose a strong password to keep your account secure.</li>
      </ul>
      <h2>Why Join mipov.net?</h2>
      <ul>
        <li>
          All-In-One Platform: Share your YouTube, TikTok, Facebook, Twitter,
          Instagram, and more from a single profile.
        </li>
        <li>
          Easy to Use: Our user-friendly interface makes adding and managing
          your links quick and simple.
        </li>
        <li>
          Customizable: Personalize your profile to reflect your brand or
          personality.
        </li>
        <li>
          Connect with Everyone: Make it easier for people to find and follow
          you on all your social media accounts.
        </li>
      </ul>
      <h2>Get Started Now!</h2>
      <p>
        Fill out the form to create your account and start sharing your social
        media links today. Join the growing community of users who trust
        mipov.net to manage their social media links.
      </p>
    </div>
  </div>
</div>

<section class="partners pb-3">
  <div class="container">
    <h5 class="text-center">Our partners</h5>
    <div class="d-flex align-items-center gap-3 justify-content-center">
      <a target="_blank" href="https://val-do.com">val-do.com</a>
      <a target="_blank" href="https://servisebi.ge">servisebi.ge</a>
      <a target="_blank" href="https://upstore.ge">upstore.ge</a>
    </div>
  </div>
</section>
