<div class="container my-3">
  <div class="row">
    <div class="col-md-4">
      <h1>🗝️ Login</h1>
      <p>For authorization please enter your email and password.</p>
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="email">Email:</label>
          <div class="input-group">
            <span class="input-group-text">✉️</span>
            <input
              [class.is-invalid]="error"
              [class.is-valid]="success"
              formControlName="email"
              class="form-control"
              type="email"
              id="email"
            />
          </div>
        </div>
        <div class="mb-2">
          <label for="password">Password:</label>
          <div class="input-group">
            <span class="input-group-text">🔒</span>
            <input
              [class.is-invalid]="error"
              [class.is-valid]="success"
              formControlName="password"
              class="form-control"
              type="{{ !show ? 'password' : 'text' }}"
              id="password"
            />
          </div>
        </div>
        <div class="form-check mb-3">
          <input
            (change)="show = !show"
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label
            class="form-check-label text-primary user-select-none"
            for="flexCheckDefault"
            ><u>{{ !show ? "Show" : "Hide" }} password</u></label
          >
        </div>
        <!-- error -->
        <ng-container *ngIf="error">
          <div class="alert alert-danger mb-0" role="alert">
            {{ error.message }}
          </div>
          <button class="btn btn-link w-100">Reset your password</button>
        </ng-container>

        <button
          [disabled]="form.invalid || success"
          (click)="login()"
          class="btn btn-primary w-100"
        >
          Log in
        </button>
      </form>
    </div>
    <div class="col-md-8">
      <h2 class="mt-3 mt-md-0">Connect All Your Social Media in One Place</h2>
      <p>
        Mipov.net is the ultimate platform for effortlessly sharing your social
        media profiles. Whether you want to showcase your latest YouTube videos,
        viral TikTok moments, Facebook updates, Twitter thoughts, or Instagram
        photos, mipov.net makes it simple.
      </p>
      <h3>Why Use Mipov.net?</h3>
      <ul>
        <li>
          Easy Integration: Add all your social media links in just a few
          clicks.
        </li>
        <li>
          Centralized Profile: Create a single profile that houses all your
          social media accounts.
        </li>
        <li>
          Boost Your Presence: Share your unique LinkShare URL with friends,
          followers, and networks to grow your online presence.
        </li>
      </ul>
      <h3>How It Works</h3>
      <ol>
        <li>Sign Up: Create your free Mipov.net account.</li>
        <li>Add Links: Connect your social media profiles.</li>
        <li>
          Share: Share your Mipov.net URL and let everyone discover your diverse
          online presence.
        </li>
      </ol>
      <h4>Get Started Now</h4>
      <p>
        Join mipov.net today and make sharing your social media profiles easier
        than ever!
      </p>
    </div>
  </div>
</div>
