<div class="dropdown d-flex flex-column">
  <button
    (click)="toggle = !toggle"
    class="btn text-start text-lg-center align-self-stretch btn-sm btn-primary dropdown-toggle"
    type="button"
  >
    ⚙️ User
  </button>
  <ul
    style="right: 0; top: 100%"
    [class.show]="toggle"
    class="dropdown-menu dropdown-menu-end"
    (click)="toggle = !toggle"
  >
    <li>
      <a routerLinkActive="fw-bold" class="dropdown-item" routerLink="/profile"
        >👤 Profile</a
      >
    </li>
    <li>
      <a routerLinkActive="fw-bold" class="dropdown-item" routerLink="/links"
        >🔗 Links</a
      >
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <div
        (click)="authenticationService.logOut()"
        style="cursor: pointer"
        class="dropdown-item"
      >
        🚪 Sign out
      </div>
    </li>
  </ul>
</div>

<!-- backdrop -->
<div
  (click)="toggle = !toggle"
  [class.d-none]="!toggle"
  style="z-index: 1; left: 0; top: 0"
  class="position-fixed bg-red w-100 h-100"
></div>
